@media screen and (max-width:600px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
    }
    .nav-items-container {
       flex-direction: column;
       margin: auto;
       gap: 20px;
    }
    .form {
        flex-direction: column;
        margin: auto;
        gap: 24px;
    }
    .banner-search-box {
       flex-direction: column;
    }
    .text-container {
        width: 100%;   
    }
    .img-container img {
        width: 100%;
    }
    
}

