@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontPrimary: 'Mulish', sans-serif;
    --fontSecondary: 'Open Sans', sans-serif;
    --fontthird: 'Inter', sans-serif;
}

body {
    font-family: var(--fontSecondary);
}

.btn-primary {
    color: #FFF;
    background: #FF5400;
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    outline: none;

}

/* nav bar style start here  */

.header-section {
    max-width: 1500px;
    margin: auto;
    margin-top: 52px;
    display: flex;
}

.nav-container {
    min-width: 50px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 36px;
    font-weight: 800;
    font-family: var(--fontPrimary)
}

.nav-container img {
    width: 48px;
    object-fit: cover;

}

.nav-container p {
    margin-left: 2%;
}

.spec {
    color: #131318;
    font-weight: 800;
    font-size: 32px;
    font-family: var(--fontPrimary);
}

.special {
    color: #FF5400;
    font-weight: 800;
    font-size: 32px;
    font-family: var(--fontPrimary)
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-items-container a {
    text-decoration: none;
    color: #424247;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

#home-color {
    color: #FF5400;
}


/* nav bar style end  */

/* Banner style start here */
.banner {
    max-width: 1500px;
    margin: 0 auto;
}

.banner-padding {
    padding-top: 60px;
}

.banner-bg {
    background-image: url(../assets/Images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

.banner-bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.title {
    color: #FFF;
    font-family: var(--fontPrimary);
    font-size: 64px;
    font-weight: 800;


}

.banner-text-p {
    color: #FFF;
    text-align: center;
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.paragraph {
    padding-bottom: 48px;
    padding-top: 24px;
}

.form {
    display: flex;
    gap: 24px;
}

.banner-search-box {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 800px;
    height: 84px;
    padding: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

.find-now {
    width: 174px;
    height: 52px;
    color: #FFF;
    background: #FF5400;
    border-radius: 8px;
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-icon {
    padding-right: 2px;
    width: 24px;

}


.select-type {
    width: 174px;
    height: 52px;
    background: white;
    border-radius: 8px;
    border: none;
    outline: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}

.where-go {
    padding-left: 16px;
    padding-right: 84px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-family: var(--fontPrimary);
    font-weight: 400;
    word-wrap: break-word;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    outline: none;

}

.when {
    padding-left: 16px;
    padding-right: 84px;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-family: var(--fontPrimary);
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
}

/* Banner style end here */

/* Our Popular Tours style start here */

.our-popular-tours-section {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    padding-top: 100px;
}

.p_color-1 {
    color: rgba(19, 19, 24, 0.70);
}

.p_color-2 {
    color: #5A5A5D;
}

.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.text-container h3 {
    color: #131318;
    font-family: var(--fontPrimary);
    font-size: 40px;
    font-weight: 800;
}

.text-container li {
    color: rgba(19, 19, 24, 0.70);
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.img-container {
    width: 50%;

}

.img-container img {
    width: 80%;
    height: 100%;
    margin: 0 0 0 auto;
    object-fit: cover;
    display: flex;
}

/* Our Popular Tours style end here */

/* Choose Your Destination style start here */

.choose-your-destination {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

.choose-your-destination h3 {
    color: #131318;
    text-align: center;
    font-family: var(--fontPrimary);
    font-size: 40px;
    font-weight: 800;
}

.choose-your-destination p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#choose-your-destination-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    column-gap: 50px;
    row-gap: 24px;
    /* border: 2px solid tomato; */
    padding-top: 48px;
    position: relative;
    text-align: center;

}

#country-1,
#country-2,
#country-6,
#country-7 {
    grid-column: auto/span 6;
    /* border: 2px solid salmon; */
}

#country-3,
#country-4,
#country-5 {
    grid-column: auto/span 4;
    /* border: 2px solid red; */
}

.country>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

#country-1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}

#country-2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

#country-3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#country-4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#country-5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#country-6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#country-7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.country-text-style {
    color: #FFF;
    font-family: var(--fontPrimary);
    font-size: 28px;
    font-weight: 800;
    position: absolute;

}

#country-1 h4 {
    padding-left: 328px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-2 h4 {
    padding-left: 318px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-3 h4 {
    padding-left: 201px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-4 h4 {
    padding-left: 163px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-5 h4 {
    padding-left: 196px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-6 h4 {
    padding-left: 307px;
    padding-top: 132px;
    padding-bottom: 133px;
}

#country-7 h4 {
    padding-left: 294px;
    padding-top: 132px;
    padding-bottom: 133px;
}

/* Choose Your Destination style end here */

/* Why Choose Us Style Start Here */

.container {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 500px;
    padding-top: 100px;
}

.container-box h3,
p {
    /* text-align: center; */
}

.container-title {
    font-size: 38px;
    color: #131318;
    text-align: center;
    font-family: var(--fontPrimary);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.container-title-p {
    text-align: center;
    width: 643px;
    height: 100%;
    padding-bottom: 48px;
    /* border: 2px solid green; */
    margin-left: 29%;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 270px);
    gap: 3px; */
}

.box {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.box-1,
.box-2,
.box-3 {
    width: 573px;
    height: 248px;
    /* border: 2px solid red; */
    border-radius: 16px;
}

.box-3 {
    width: 38%;
    align-self: center;
}

.box-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box-1 img {
    position: relative;
    top: 0;
    right: 232px;
}

.box-1 h4 {
    text-align: left;
    padding-top: 17px;
}

.box-1 p {
    text-align: left;
}

.box-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box-2 img {
    position: relative;
    top: 0;
    right: 232px;
}

.box-2 h4 {
    text-align: left;
    padding-top: 17px;
}

.box-2 p {
    text-align: left;
}

.box-3 img {
    position: relative;
    top: 0;
    right: 232px;
}

.box-3 h4 {
    text-align: left;
    padding-top: 17px;
}

.box-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.box-3 p {
    text-align: left;
}

/* Why Choose Us Style End Here */

/* Footer style start here */


footer {
    height: auto;
    /* width: 100vw; */
    font-family: var(--fontPrimary);
    padding-top: 40px;
    /* border: 2px solid red; */

}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
}


.footer_container img {
    
    object-fit: cover;
    display: flex;
}

.img::before {
    display: inline-block;
    width: 64px;
    height: 46.673px;
    background: url(../assets/Images/Group\ 40071\ \(2\).png);
    float: left;
    content: "";
    background-repeat: no-repeat;

}

.footer_container h3 {
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_container p {
    max-width: 1126px;
    margin: 10px auto;
    line-height: 26px;
    font-size: 16px;
    color: #5A5A5D;
    font-family: var(--fontPrimary);

}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: #131318;
}

.social a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: aqua;
}

.footer_bottom {
    background: rgba(19, 19, 24, 0.05);
    /* padding: 20px 0; */
    padding: 50px 625px 110px 624px;
    text-align: center;
}

.footer_bottom p {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--fontthird);
}


hr {
    margin-left: 284px;
    margin-right: 284px;
    background: rgba(19, 19, 24, 0.05);


}

/* .footer_container_img {
    display: flexbox;
} */

/* .friendly-end {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    border: 2px solid red;
}

.friendly-end img {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    
}

.friendly-end-img {
    text-align: center;
    justify-content: center;
    border: 2px solid red;

}

.friendly-end-p {}

.friendly-end-img img {
    width: 48px;
    object-fit: cover;
    padding-top: 4px;
} */

/* Footer style end here */